*{
    /* Reset everything */
    margin:0;
    padding:0;
}

/* Light blue: #97cae6eb
   Dark blue: #163241
   Peachy: #fbbd93eb
   New peachy: #eaba8ce6
   Medium-blue: #5793d0de
   Pink/Redish: #ed5a66d4  */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #163241;
    color: #ffffff;
    box-sizing: border-box;
}

#name{
    color:#163241;
    position: absolute;
    left:0;
    padding: 1em;
    justify-content: center;
}

#searchBox-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchBox {
    background-color: #fbbd93eb;
    width: 100%;
    padding: 1em 0em;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#searchButton {
    margin: 0px 5% 0px 3px;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    border: none;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #daa27c;
    color: #ffffff;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

#searchButton:hover{
    background-color: #f4b387;
}

#search {
    height: 1em;
    padding: 0.8em;
    /* background-color: #2eaadb; */
    /* border: none; */
    /* outline: none; */
    color: #ffffff;
    border-radius: 18px;
    width: 15em;
    min-width: 11em;
    font-size: 15px;
}
::placeholder{
    color:#ffffff;
    opacity:70%;
}
/* Because it annoyingly didn't change...*/
input[type="text"] {
    background-color: #daa27c;
    opacity:90%;
    border:none;
    outline:none;
  }

#container {
    margin-top: 4em;
    padding: 1em;
}
aside {
    float: right;
    width: 45%;
    font-size: 15px;
    box-sizing: border-box;
    padding: 0.5em;
}

.tweet {
    margin: 10px 0px;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
    box-sizing: border-box;
}

.liked{
    background-color: #ed5a66;
    opacity:90%;
}

.shared{
    background-color: #5793d0;
    opacity:90%;
}

.liked:hover, .shared:hover{
    opacity:100%;
    cursor: pointer;
}


.most{
    margin-top: 10px;
    letter-spacing:5px;
    text-align: center;
    font-size:1em;
    text-transform: uppercase;
}

section {
    float: left;
    width: 55%;
    font-size: 18px;
    padding: 1em;
    box-sizing: border-box;
}

section h1{
    letter-spacing:0.4em;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
}

.data {
    background-color: #244d64;
    margin: 1em 0;
    padding: 1em;
    border-radius: 20px;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.list{
    display:inline-block;
    width: 60%;
    box-sizing: border-box;
}

.list ul{
    list-style-type: none;
}

.data .graph {
    display: inline-block;
    width: 40%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.data .graph canvas{
    min-height: 6em;
    min-width: 12em;
}

footer{
    /* Clear the floating */
    clear:left;
    text-align: center;
    color:#ffffff;
    font-size: 0.7em;
}

@media screen and (max-width: 740px) {
    #name{
        top: 0;
        text-align: center;
        width: 100%;
        padding: 0.6em 0em;
    }

    #searchBox{
        padding: 2.5em 0em 0.5em 0em;
    }

    #searchBox-container{
        margin-left: 2em;
    }

  }

/* Loader screen style */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #163241;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

.loader {
    display: inline-block;
    width: 2em;
    height: 2em;
    position: relative;
    border: 0.3em solid #Fff;
    animation: loader 2s infinite ease;
  }

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}


@media screen and (max-width: 600px) {
    aside, section{
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    .data{
        padding: 0.5em 1.5em;
        align-items: center;
    }

  }

@media screen and (max-width: 300px) {
    .data .graph, .list ul {
        width: 100%;
        align-content: center;
        display: contents;
        padding: 1em 0;
        text-align: center;
    }

    .data{
        flex-direction: column;
        align-items: center;
        padding: 0.5em 0;
    }

}
