<!DOCTYPE html>
<html>
    <head>
        <title>Twitter Sentiment</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static',filename='images/icon.png') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <script src="{{ url_for('static',filename='scripts/script.js') }}" defer></script>
    </head>
    <body>
    <div id="searchBox">
        <div id="name">Twitter Sentiment Analysis</div>
        <div id="searchBox-container">
        <input type="text" id="search" placeholder="Analyse keyword">
        <button id="searchButton" onclick="getKeyword()">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1.1em" width="1.1em" xmlns="http://www.w3.org/2000/svg"><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
        </button>
        </form>
        </div>
    </div>
    <div id="container">
        <section id="section">
            <h1>Demographic information  </h1>
            <!-- Section for showing the data -->
            <!-- JS produces entries in the form:
                <div class="data" id="d1">
                    <ul>
                        <li><h2>Country</h2></li>
                        <li>US: 50%</li>
                        <li>UK: 30%</li>
                        <li>Other: 20%</li>
                    </ul>
                    <div class="graph"><img src="graph.png" alt=""></div>
                </div> 
            -->
        </section>
        <aside>
            <div id = "liked">
                <h2 class="most">Most shared</h2>
                <div class = "tweet shared" id ="s1" href="{{ s1_link }}">
                    <h2>{{ s1_name }}</h2>
                    <p>{{ s1_text }}</p>
                </div>
                <div class = "tweet shared" id ="s2" onclick="myhref(id)">
                    <h2>Name</h2>
                    <p>Lorem ipsum dolor sit</p>
                </div>
                <div class = "tweet shared" id ="s3" onclick="myhref(id)">
                    <h2>Name</h2>
                    <p>{{ test }}</p>
                </div>
            </div>
            <div id="shared">
                <h2 class="most">Most liked</h2>
                <div class = "tweet liked" id ="l1" onclick="myhref(id)">
                    <h2>Name</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In officiis, ipsam esse blanditiis enim dignissimos quas similique ipsum aperiam aut?</p>
                </div>
                <div class = "tweet liked"  id ="l2" onclick="myhref(id)">
                    <h2>Name</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In officiis, ipsam esse blanditiis enim dignissimos quas similique ipsum aperiam aut?</p>
                </div>
                <div class = "tweet liked" id ="l3" onclick="myhref(id)">
                    <h2>Name</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In officiis, ipsam esse blanditiis enim dignissimos quas similique ipsum aperiam aut?</p>
                </div>
            </div>
        </aside>
        <footer>© 2022</footer>
    </div>
    </body>
</html>
